<!doctype html>
<html>
    <head>
        <title>Employee Directory</title>
        <script src="jquery-1.11.1.js"></script>
        <script src="angular.js"></script>
        <script src="app.js"></script>
        <script src="dataService.js"></script>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
        <link rel="stylesheet" href="style.css">
    </head>
    <body ng-app="MyEmployeeApp">
        <h1>Employee Directory</h1>
        <div ng-controller="employeeController">
            <h2>Add an Entry</h2>
                <form class="pure-form pure-form-aligned">
                    <div class="pure-control-group">
                        <label>Employee:</label>
                        <input type="text" ng-model="Employee"/>
                    </div>
                    <div class="pure-control-group">
                        <label>Street:</label>
                        <input type="text" ng-model="Street"/>
                    </div>
                    <div class="pure-control-group">
                        <label>City:</label>
                        <input type="text" ng-model="City"/>
                    </div>
                    <div class="pure-control-group">
                        <label>State:</label>
                        <input type="text" ng-model="State"/>
                    </div>
                    <div class="pure-control-group">
                        <label>Zip Code:</label>
                        <input type="text" ng-model="ZipCode"/>
                    </div>
                    <div class="pure-controls">
                        <input type="submit" ng-click="addItem()" value="Add Entry" class="pure-button pure-button-primary"/>
                    </div>
                </form>
                <table class="pure-table pure-table-horizontal">
                    <tr>
                        <th>Employee</th>
                        <th>Street</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Zip Code</th>
                        <th>Delete</th>
                    </tr>
                    <tr ng-repeat="item in itemArray track by $index">
                        <td>{{item.Employee}}</td>
                        <td>{{item.Street}}</td>
                        <td>{{item.City}}</td>
                        <td>{{item.State}}</td>
                        <td>{{item.ZipCode}}</td>
                        <td><button ng-click="deleteItem(item)" class="pure-button">X</button></td>
                    </tr>
                </table>
        </div>
    </body>
</html>