<!doctype html>
<html>
    <head>
        <title>My Grocery List</title>
        <script src="jquery-1.11.1.js"></script>
        <script src="angular.js"></script>
        <script src="app.js"></script>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
        <link rel="stylesheet" href="style.css">
    </head>
    <body ng-app>
        <h1>My Grocery List</h1>
        <div ng-controller="groceryController">
            <form class="pure-form pure-g">
                <div class="pure-u-7-8">
                <input type="text" ng-model="groceryItem" class="pure-input-1" placeholder="Add Grocery Item"/>
                </div>
                <div class="pure-u-1-8">
                    <input type="submit" ng-click="addItem()" value="Save" class="pure-button pure-button-primary pure-input-1"/>
                </div>
            </form>
            <div id="items">Items: <div id="itemTotal">{{itemTotal}}</div></div>
            <ul>
                <li ng-repeat="item in itemArray">{{ item }}<button ng-click="deleteItem(item)" class="pure-button">X</button></li>
            </ul>
        </div>
    </body>
</html>